
{% extends './layout.html' %}

{% block title %}{{data.Titulo}}{% endblock %}

{% block body %}

<h1>Hola mundo, desde plantilla de Flask.</h1>
    <!-- <h2>{{ data }}</h2> -->
    <!-- <h2>{{ data.Titulo }}</h2> -->
    <h2>{{ data.Bienvenida }}</h2>
    <!-- <h2>{{ data.Cursos }}</h2> -->

    
    <ul>
        {% if data.Numero_cursos > 0 %}     
            {% for i in data.Cursos %}
            <li> {{ i }} </li>
            {% endfor %}
        
        {% else %}
            <h1>No hay cursos</h1>    

        {% endif %}
    </ul> 

{% endblock %}